<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let product of products$ | async">
      <div class="card h-100 text-center" style="background-color: #ffd7b9">
        <img
          src="{{ product.image }}"
          alt="{{ product.nom }}"
          class="card-img-top mx-auto"
          style="width: 80px; height: 120px"
        />
        <div class="card-body">
          <h5 class="card-title">{{ product.nom }}</h5>
          <p class="card-text">{{ product.prixHT | currency: "EUR" }}</p>
          <div class="d-flex justify-content-evenly">
            <button
              type="button"
              (click)="decrementQuantite(product)"
              class="btn btn-sm btn-danger"
            >
              -
            </button>
            <span class="quantity">{{ product.quantite }}</span>
            <button
              type="button"
              (click)="incrementQuantite(product)"
              class="btn btn-sm btn-success"
            >
              +
            </button>
          </div>
        </div>
        <button type="button" class="btn btn-primary">Ajouter au panier</button>
      </div>
    </div>
  </div>
</div>
